*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.container{
    
    display: flex;
    justify-content: center;

   
}
.form{
    background-color: rgba(0, 0, 0, 0.301);
    padding: 15px;
    margin: 50px;
    font-size: 25px;
}