.detailCard{
    width:100vw;
    height:calc(100vh - 10vh);
    display: flex;
    /* overflow:hidden; */
    
}

.detailCard .detailImg{
    width:50vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  
}


.detailCard .detailImg img{
    width:20vw;
    height:70vh;
}

.detailCard .detailContent {
    width:50vw;
    background-color: #222;
    padding: 8rem;
    color:white;
}

.detailCard .detailContent h1{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
}

.detailCard .detailContent p{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.detailCard .detailContent h2{
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

.detailCard .detailContent .counterDiv{
    display: flex;
    margin-top: 2.5rem;
}


.detailCard .detailContent .counterDiv div{
    background-color: white;
    color:#222;
    width:5rem;
    height:4rem;
    margin: 0 0.2rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    border-radius: 0.5rem;
}

.btn{
    margin-top: 3rem;
    background-color: white;
    color:#222;
    width:30%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition:all 0.3s linear;
}

.btn .cartIcon{
    font-size: 2.5rem;
    
}

.btn:hover {
    background-color: rgb(75, 75, 75);
    color:white;
    border:1px solid white;
}



