.container{
    margin: auto;
    border: 3px solid black;
    width: 339px;
    height: 339px;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(20,auto);
    padding: 1px;
  
    cursor: pointer;
}
.square{
    height: 15px;
    width: 15px;
    border: 1px solid #E24E3F;
    
}

.bg-red{
    background-color:#DE4738;
}