
.box{
    display: grid;
    grid-template-columns: auto auto;
    width: 400px;
    border: 3px solid black;
    column-gap: 8px;
    margin: auto;
    padding: 2px 14px;
    justify-content: space-between;
}

.sqare{
    width: 30px;
    height: 30px;
    border: 2px solid blue;
}

img{
    width: 40px;
}